__pycache__/
*.py[cod]

.venv/
venv/
env/
.env/

data/
results/

*.fastq
*.fq
*.fastq.gz
*.fq.gz
*.bam
*.sam
*.cram
*.bai
*.crai

*_fastqc.html
*_fastqc.zip
multiqc_report.html
multiqc_data/

*.log
*.out
*.err

.DS_Store
.vscode/
.idea/

.env
*.env

config.yaml
run_fastqc_windows.bat
